/* Ensure the html, body, and container take up the full viewport */
html, body, #root, .container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Ubuntu Mono", monospace;
  }
  .container {
    /* Apply the background image only for the homepage */
    background-image: url('/images/background.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  }
  
  .portfolio-name {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Main Content Styles */
  .main-content {
    /* Use 100vh to cover the viewport height */
    height: 100vh;
    /* Center the content both vertically and horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Add top padding to prevent content from hiding behind the fixed header */
    padding-top: 80px; /* Adjust based on your header's height */
    transform: translateY(-80px);
  }
  
  /* Profile Picture in a Circle */
  .profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  /* Bio Text Styling */
  .bio {
    font-size: 30px;
    text-align: center;
    max-width: 600px;
    margin: 0 20px;
  }

  .bio-sub {
    font-size: 18px; /* Smaller font for the second line */
  }